<!-- <label> Total Columns</label>
<div style="height: 100px; border: yellow thin solid; padding: 5px; margin-bottom: 10px">
  <div *ngFor="let col of _totalColumns" style=" display: inline-block; margin-right: 5px">
    <label>{{ col }}</label>
    <input type="checkbox" value="{{ col }}" (change)="columnAvailableChanged($event)"
      [checked]="checkColAvailable(col)" />
  </div>
</div> -->

<label>Grouping</label>
<div style="height: 50px; border: blue thin solid; padding: 5px; margin-bottom: 10px">
  <div *ngFor="let col of _columnAvailable" style=" display: inline-block; margin-right: 5px">
    <label>{{ col }}</label>
    <input type="checkbox" value="{{ col }}" (change)="groupDescriptionChanged($event)"
      [checked]="checkgroupDes(col)" />
  </div>
</div>



<div id="menuControl" class="bravo-form-menu">
  <bravo-group-path #menuGroupPath class="bravo-menu-strip">
  </bravo-group-path>
</div>


<div>
  <bravo-web-grid style="max-height: 500px" #flexGroup [selectionMode]="'Row'"
    (initialized)="flexInitialized(flexGroup)">
    <wj-flex-grid-column *ngFor="let col of _columnAvailable" [binding]="col"></wj-flex-grid-column>
  </bravo-web-grid>
</div>
