.tree-grid {
    width: 100%;
    max-height: 500px;
    background-color: #fff;
}

.reporter-header {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 10px;
}

.reporter-content {
    width: 100%;
    max-height: 500px;
}

.reporter-footer {
    width: 100%;
    height: 200px;
    background-color: aquamarine
}

.wj-cell .v-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    white-space: pre-wrap;
}

.wj-cell.wj-group.boldRow {
    background-color: rgb(176, 204, 240);
    color: black;
    font-weight: bold;
}

.wj-cells .wj-cell.wj-state-multi-selected {
    background-color: #f4fc81;
    color: black;
}

.wj-cells .wj-cell.wj-state-selected {
    background-color: #e5e75a;
    color: black;
}

.wj-cell.wj-group {
    background-color: #fff;
    color: black;
    font-weight: 400;
}

.wj-cell.wj-header {
    background-color: #eee;
    color: black;
    font-weight: 700;
}

.itemsAdded {
    margin-top: 10px;
    max-height: 100px;
}

.itemsEdited {
    margin-top: 10px;
    max-height: 100px;
}

.itemsRemove {
    margin-top: 10px;
    max-height: 100px;
}

.bravo-form-menu {
    display: flex;
    flex: 1 1 20px;
    max-height: 20px;
    width: 100%;
    background-color: #f0f0f0;
}

.bravo-form-menu > .bravo-menu-strip {
    flex: 1 1 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.bravo-btn {
    background: none;
    border: none;
    min-width: 100%;
}


.bravo-menu-strip {
    display: flex;
    place-content: center flex-start;
    justify-content: flex-start;
    align-content: center;
    max-width: 100%;
    background-color: #f0f0f0;
}

.bravo-menustrip-item {
    height: 100%;
    border: none;
    border-radius: 0;
    background: none;
    align-items: center;
    max-width: 200px !important;
    min-width: 10px !important;
}

.bravo-menustrip-item:hover{
    background-color: #d8e6f2;
    color: #000 !important;

}

.bravo-menustrip-item > .wj-input > .wj-input-group > .wj-form-control {
    padding: 0;
    min-height: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    padding: 0 4px;
    display: block !important;
}

.bravo-drop-down {
    background-color: #f0f0f0 !important;
    border-radius: 0 !important;
}

.bravo-tooltip {
    background-color: #f0f0f0;
    border-radius:  0;
    width: auto;
    justify-content: center;
}


#panelMain {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#panelMain > bravo-group-path {
    flex: 1 1 20px;
    max-height: 20px;
}